# Formatierung: Allman-Klammern, 4 Leerzeichen, kompakte Leerzeilen.
# Anwenden mit:  pio run -t format   (oder clang-format -i src/* include/*)
BasedOnStyle: LLVM
Language: Cpp
Standard: c++17

IndentWidth: 4
AccessModifierOffset: -4
TabWidth: 4
UseTab: Never
ColumnLimit: 100

BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left

AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: None
AlignTrailingComments: true

MaxEmptyLinesToKeep: 2
SeparateDefinitionBlocks: Always
KeepEmptyLinesAtTheStartOfBlocks: false

SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 1

SortIncludes: Never

ConstructorInitializerIndentWidth: 4
BreakConstructorInitializers: BeforeComma
PackConstructorInitializers: Never
